<template>
  <Page class="page">
    <StackLayout>
      <Label text="Counter (Vuex)" horizontalAlignment="center" marginBottom="20" marginTop="20" fontWeight="bold"></Label>
      <GridLayout rows="*" columns="auto, auto, auto" height="70" horizontalAlignment="center">
        <Button row="0" col="0" class="btn btn-primary" text="Increase"
          @tap="incrAction"></Button>
        <Label row="0" col="1" :text="myCounter"></Label>
        <Button row="0" col="2" class="btn btn-primary" text="Decrease"
          @tap="decrAction"></Button>
      </GridLayout>

      <Label text="Fetch your turn (AWS Lambda) ios" horizontalAlignment="center" marginBottom="20" marginTop="20" fontWeight="bold"></Label>
      <GridLayout rows="*" columns="2*, *" height="70" horizontalAlignment="center">
        <Label row="0" col="0" :text="`Your turn number: ${myData.message}`" v-show="myData"></Label>
        <Button row="0" col="1" class="btn btn-primary" text="Call API"
          @tap="getAction"></Button>
      </GridLayout>

    </StackLayout>
  </Page>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { Action, State } from "vuex-class";
import { Color } from "tns-core-modules/color";

@Component
export default class TestPage extends Vue {
  @State(state => state.counter.counter)
  myCounter;
  @State(state => state.test.data)
  myData;
  @Action("counter/increase") incrAction;
  @Action("counter/decrease") decrAction;
  @Action("test/get_sample") getAction;
}
</script>

<style scoped lang="scss">
.btn-primary {
  border-radius: 8;
}
</style>
