$light: 100;
$regular: 400;
$bold: 600;

$base-background-color: #ff4757;
$base-text-color: #333;
$base-font-family: Arial, Lato;
$base-font-weight: $regular;
$base-font-size: 15;
$base-line-height: 1.4;
