// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import '~nativescript-theme-core/scss/skins/ruby/index';
@import '~nativescript-theme-core/scss/index';

// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling
@import './_vars';

.page {
  font-family: $base-font-family;
}

.btn-primary {
  background-color: $base-background-color;
  color: #fff;
}
